$vortex: url('../../img/vortex-black&white.png');
$path1: path(
  'm 147.52349,79.12624 c 0,0 409.04242,0 451.95835,1.34112 42.91592,1.34112 52.30378,33.52807 52.30378,33.52807 l 4.02335,342.59556 C 657.40986,519.32934 638.6663,581.98781 602.30093,633.19488 515.85281,754.92485 341.35821,790.21919 218.43333,702.03032 107.70909,622.59445 75.779245,463.09335 157.02084,351.21977 c 72.41759,-99.7225 216.93721,-128.29131 317.75349,-53.98954 88.72615,65.39133 113.93868,194.94579 46.56659,284.69645 -58.35409,77.73718 -172.96643,99.60031 -251.63939,39.14362 -66.75883,-51.30119 -85.28294,-151.00547 -31.72067,-218.58233 44.22488,-55.79635 129.07462,-70.99818 185.52527,-24.29772 44.85914,37.11105 56.76797,107.19793 16.87477,152.46822 -29.93092,33.96522 -85.43324,42.63843 -119.41117,9.45182 -23.15298,-22.61377 -28.72067,-63.95779 -2.02886,-86.35412 14.92192,-12.52055 43.57941,-15.28112 53.29706,5.3941 3.58593,7.62941 -0.63943,27.95152 -12.81705,20.24'
);
$path2: path(
  'm 84.490729,57.66828 c 0,0 312.481581,1.34112 366.126491,0 53.64491,-1.34113 75.10287,30.84582 75.10287,30.84582 l 10e-6,308.37344 c -1.40776,49.54243 -18.85537,98.15599 -49.71182,136.98919 -73.35228,92.3147 -212.45761,112.72055 -305.6405,37.94469 -83.934216,-67.35413 -102.325032,-194.49268 -33.49802,-279.2564 61.35142,-75.55716 176.53279,-91.93514 252.8723,-29.05134 67.18468,55.34262 81.55289,158.5799 24.60467,226.4882 -49.32548,58.8185 -140.63714,71.18138 -200.10409,20.15799 -50.46135,-43.29646 -60.82564,-122.70978 -15.71133,-173.71999 37.24965,-42.11772 104.80757,-50.49434 147.33589,-11.26465 33.79561,31.17431 40.20375,86.95037 6.81798,120.95179 -25.04854,25.51045 -69.18577,29.98777 -94.56769,2.37131 -17.29555,-18.81821 -19.9265,-51.65829 2.07537,-68.18359 12.30003,-9.23839 35.01628,-10.19565 41.79949,6.52204 2.50308,6.16902 -1.69388,22.01483 -10.96872,15.41538'
);
$path3: path(
  'm 38.892558,83.149609 c 0,0 285.659132,-1.34113 296.388112,-1.34113 10.72898,0 9.38786,38.892561 9.38786,38.892561 l -1.34113,252.91291 c -0.34157,34.28746 -11.79008,68.1371 -32.63857,95.39256 C 261.12759,533.7985 165.16601,549.68875 99.755313,499.15387 40.836812,453.63473 26.49311,365.9251 73.020491,306.41403 114.49433,253.36671 193.95863,240.56791 247.56666,283.09174 c 47.17923,37.42428 58.43541,108.65225 19.90975,156.3525 -33.36886,41.31539 -96.37323,51.03227 -138.15883,16.49721 -35.457638,-29.30511 -43.640212,-84.10466 -13.08467,-119.96515 25.22888,-29.60903 71.85317,-36.2654 101.77148,-9.67213 23.77492,21.13264 28.91931,59.6323 6.25959,83.5778 -17.00105,17.96574 -47.47453,21.62603 -65.38413,2.84705 -12.20382,-12.79622 -14.44277,-35.4788 0.56549,-47.19045 8.39029,-6.54734 24.09137,-7.49938 28.99678,3.97803 1.81016,4.2353 -0.89076,15.24972 -7.39057,10.8031'
);
$path4: path(
  'm 107.15981,37.932678 c 0,0 374.5852,1.89663 414.41451,1.89663 39.82931,0 23.70792,54.05407 23.70792,129.919422 0,75.86536 -155.84403,193.00016 -155.84403,193.00016 -56.76252,38.51877 -137.54596,25.68969 -176.29956,-32.01407 -34.90719,-51.97651 -23.03762,-125.76532 29.90078,-160.8773 47.18852,-31.29831 113.98842,-20.3878 145.455,27.78748 27.69303,42.39797 17.74099,102.21677 -25.67418,130.03272 -37.60389,24.0927 -90.45259,15.09842 -114.61044,-23.56086 -20.49944,-32.80478 -12.46191,-78.69974 21.44754,-99.18819 27.99812,-16.91675 66.96505,-9.83457 83.7659,19.33428 13.35098,23.17936 7.22205,55.26242 -17.22098,68.34361 -18.33903,9.8145 -43.6242,4.63488 -52.92134,-15.10769 -6.33517,-13.45281 -2.09242,-32.14447 12.99438,-37.49904 8.43422,-2.99344 21.21386,0.42035 22.07678,10.88108 0.31843,3.86014 -4.76404,11.92973 -8.76779,6.65449'
);

.img-box {
  position: absolute;
  margin: 0 0 0 -300px;
  top: 200px;
  left: 50%;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  animation: inf-rotate 8000ms linear infinite;
}

@keyframes inf-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image {
  position: absolute;
  background-image: $vortex;
  background-size: cover;
  background-position: center;
  margin: -300px 0 0 -300px;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  transform: scale(0);
  animation: pop 1200ms ease-in-out forwards;
}

@keyframes pop {
  100% {
    transform: scale(1);
  }
}

.wrapper {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -342px;
}

.show-text {
  display: block;
  opacity: 0;
  animation: appear 1500ms forwards ease-out;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.text {
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  offset-path: $path1;
  animation: move 4000ms forwards ease-in-out;
  color: #fff;
  transform: scale(1);
}

@keyframes move {
  14% {
    color: #fff;
  }
  16% {
    color: #000;
  }
  44% {
    color: #000;
  }

  46% {
    color: #fff;
  }
  85% {
    transform: scale(1);
  }
  95% {
    transform: scale(0.3);
  }
  100% {
    color: #fff;
    transform: scale(0);
    offset-distance: 100%;
  }
}

///
/// TABLET SCREEN
///

@media (max-height: 820px) {
  .img-box {
    top: 160px;
    margin: 0 0 0 -250px;
    width: 500px;
    height: 500px;

    .image {
      margin: -250px 0 0 -250px;
      width: 500px;
      height: 500px;
    }
  }
  .wrapper {
    margin-top: -3px;
    margin-left: -280px;
  }

  .text {
    offset-path: $path2;
  }

  @keyframes move {
    16% {
      color: #fff;
    }
    18% {
      color: #000;
    }
    44% {
      color: #000;
    }

    46% {
      color: #fff;
    }
    85% {
      transform: scale(1);
    }
    95% {
      transform: scale(0.3);
    }
    100% {
      color: #fff;
      transform: scale(0);
      offset-distance: 100%;
    }
  }
}

///
/// PHONE SCREEN
///

@media (max-width: 414px) and (max-height: 914px) {
  .img-box {
    top: 200px;
    margin: 0 0 0 -180px;
    width: 360px;
    height: 360px;

    .image {
      margin: -180px 0 0 -180px;
      width: 360px;
      height: 360px;
    }
  }
  .wrapper {
    margin-top: -5px;
    margin-left: -182px;
  }

  .text {
    offset-path: $path3;
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-height: 414px) and (max-width: 914px) {
  .img-box {
    top: 100px;
    margin: 0 0 0 -150px;
    width: 300px;
    height: 300px;

    .image {
      margin: -150px 0 0 -150px;
      width: 300px;
      height: 300px;
    }
  }
  .wrapper {
    margin-top: -6px;
    margin-left: -300px;
  }

  .text {
    offset-path: $path4;
    font-size: 18px;
    font-weight: 600;
  }

  @keyframes move {
    22% {
      color: #fff;
    }
    24% {
      color: #000;
    }
    44% {
      color: #000;
    }

    46% {
      color: #fff;
    }
    85% {
      transform: scale(1);
    }
    95% {
      transform: scale(0.3);
    }
    100% {
      color: #fff;
      transform: scale(0);
      offset-distance: 100%;
    }
  }
}
