$bg: url('../img/alice-bg-minimal.jpg');

.app {
  position: relative;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: $bg;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
